
<h2 class=" text-center mt-5 p-4">Create New Account </h2>
<div class=" container w-75 text-center">
    <div class="row">
        <div class="col-lg-12 ">
            
          <form class="p-5 mt-3">
            <input [(ngModel)]="acno" id="ac1" name="acno" type="text" class="form-control mt-3" placeholder="Enter A/C number">
            <input [(ngModel)]="uname" id="u1" name="uname" type="text" class="form-control mt-3" placeholder="Enter username">
            <input [(ngModel)]="psw" id="p1" name="password" type="password" class="form-control mt-3 " placeholder="Enter password">

            <button  (click)="register()" class="btn mt-3" >Sign Up</button>


          </form>
          
        </div>
    </div>
    </div>